/**********************************
ENERAL
***********************************/

body {
  font-family: 'Open Sans','sans-serif';}

#wrapper {
  max-width: 940px;
  margin: 0 auto;}

a {
  display: inline;
  text-decoration: none;}

img {
  max-width: 100%;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 2px 14px 7px 12px;
  padding: 0px 0px 0px 0px;
  margin: 3px 1px 3px -3px; }

h3 {
  margin: 0 0 1em 0;}



/**********************************
HEADING
***********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  width: 100%;}

p {
  display: block;
  padding: 6px 7px 0px 20px;
  margin: 5px 0px 8px 4px;}

.pheader {
  font-family: cursive;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: #cccc0080;
  padding: 0px 0px 0px 15px;
  margin: 1px 0px -4px 0px;
  border-bottom: 1px dotted;
  border-top: 2px ridge #cb0b04b3;
  box-shadow: 8px 19px 21px 33px;}

#logo {
  text-align: center;
  margin: 0;}

h1 {
  font-family: 'Changa One', 'sans-serif';
  display: block;
  padding: 5px 0px 5px 30px;
  margin: 10px 0px 5px 20px;
  font-weight: 600;
  line-height: 0.8em;}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;}

h3 {
  color: #4d0000;}

h4 {
  
  color: #ffcccc;}

.solo {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;}

/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;}



nav ul li {
  display: inline;
  list-style: none;
  background-color: #443104e6;
  border-radius: 4px;
  box-shadow: -1px 6px 12px 5px;
  margin: 0px 10px 0px 0px ;
  padding: 0px 0px 0px 0px;}

nav ul li a img {
   ;}


nav a {
  font-weight: 600;
  padding: 15px 10px;}



/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding: 11px 0px 0px 0px;
  margin: 7px 0px 0px 0px;
  color: #330000;}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;}


/**********************************
PAGE: PORTFOLIO
***********************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;}

#gallery li {
  float: left;
  width: 45%;
  padding: 1px 10px 0px 1px;
  margin: 2.5%;
  background-color: #800000;
  box-shadow: 15px 12px 8px 6px;
  border-radius: 5px;
  color: #4a030099;}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 1.5em;  
  box-shadow: 5px 9px 10px 5px #F9FF0033;}




/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {
  display: inline-block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;}



/**********************************
PAGE: CONTACT
***********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;}

.contact-info li.phone a {
  background-image: url('../img/phone.png');}

.contact-info li.mail a {
  background-image: url('../img/mail.png');}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');}


/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #330000;}

/* green header */
header {
  background: #800000;
  border-bottom: 2px solid #AB150F;
  padding: 10px 0px 0px 0px;
  margin: -10px 0px 25px 0px;}

/* nav background on mobile */


/* logo text */
h1, h2 {
  color: #fff;}

/* links */
ul li a {
  color: #330000;}

ul li a:hover {
  color: #ffff33;}
ul li a p {
   color: #ffece6;}

a {
  color: #d4bc0c99;}

/* nav link */
nav a:visited {
  color: #b79f8780;}

/* selected nav link */
nav a.selected {
  color: #808000;}


   