@media screen and (min-width: 480px) {
	

/*************************
  two column layout
**************************/
  #primary {
  	width: 50%;
  	float: left;
  }
   
  #secondary {
  	width: 40%;
  	float: right;
  }

/*************************
i want 3 columns times 5 for each side of space taken up in persentages so thus
3*5=15%  then we subtract 15% from 100% from full width, leaving us 85% 
we now devide 85 into 3 = giving us 28.3333333333333 the more accurate in these number
the better the results.
**************************/


/*************************
 PAGE:PORFOLIO
**************************/

#gallery li {
	width: 28.3333%;
}

#gallery li:nth-child(4n) {
	clear: left;
}



/*************************
 PAGE:ABOUT
**************************/

.profile-photo {
	float: left;
	margin: 0 5% 80 0;
}




}
@media screen and (min-width: 660px) {
	



/*************************
 HEADER
**************************/

nav {
	background: none;
	float: right;
	font-size: 1.125em;
	margin-right: 5%;
	width: 45%;
}

}


