/*************************
      GENERAL
**************************/

body {
	font-family: 'David Libre';
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;


}



/*************************
      HEADING
**************************/

#logo {
	text-align: center;
	margin: 0;
}

h1 {
  font-family: 'Baloo Bhai', cursive;
  font-size: 2.90em;
  font-weight: normal;
  line-height: 1.8em;
}

h2 {
	font-family: 'Slabo 27px', serif;
	font-size: 1.80em;
	margin: -55px 0 0;
	font-weight: normal;
}
/*************************
       Navigation
**************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0;
}


/*************************
       FOOTER
**************************/


footer {
	font-size: 0.70em;
	text-align: center;
	padding-top: 50px;
	color: #0957CC;
}



 /*************************
       COLORS
**************************/

body {
 	background-color: 
 }

header {
 	background: #086A7F ;
 	border-color: #3A737F;
 }

 nav {
 	background: #3A737F;
 }
 /**/

 h1, h2 {
 	color: #B5F4FF;
 }

 a {
	color: #103D7F;
}
/**/

 nav a, nav a.visited {
 	color: #B0CC56;
 }
 nav a.selected  {
 	color: #99ff33;
 }

 nav a.hover {
 	color: #DCFF6B;
 }
 /*site body*/

 